<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SiouxTube.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SiouxTube.Properties.Settings>
            <setting name="DisplayFakeWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MailHost" serializeAs="String">
                <value />
            </setting>
            <setting name="MailUser" serializeAs="String">
                <value />
            </setting>
            <setting name="MailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteHandledMail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailCheckIntervalSecs" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MailUseSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseLunchFilter" serializeAs="String">
                <value>True</value>
            </setting>
        </SiouxTube.Properties.Settings>
    </userSettings>
</configuration>