[submodule "lib/aenetmail"]
	path = lib/aenetmail
	url = https://github.com/andyedinborough/aenetmail.git
[submodule "lib/rc5"]
	path = lib/rc5
	url = https://github.com/rix0rrr/RC-5-Remote-Control-Codes.git
